header {
    height: 60px;
    background-color: #6d4af9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
}

/* --Menu Items Styles-- */

/* Menu Mobile */
.menu-moblie {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: calc(100% - 51.5px);
    background-color: #6d4af9;
    left: -100%;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-moblie.active {
    left: 0;
}

/* Items Mobile */
.item.mobile {
    margin: 10px;
}
.link {
    text-decoration: none;
}
.item.mobile .link-name {
    width: 200px;
    height: 40px;
    color: #f7f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.item.mobile:hover .link-name {
    background-color: #f7f6fb;
    color: #6d4af9;
}

/* Dropdown Menu Mobile */
.dropdown-name {
    width: 200px;
    height: 40px;
    color: #f7f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.dropdown-name:hover {
    list-style-type: none;
    background-color: #f7f6fb;
    color: #6d4af9;
}

.item.mobile .dropdown-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #6d4af9;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item.mobile .dropdown-menu.open {
    max-height: 100%;
}

/* Dropdown Item Mobile */
.dropdown-item.mobile {
    list-style-type: none;
}
.dropdown-link {
    color: #f7f6fb;
    text-decoration: none;
}
.dd-link-name {
    margin: 10px 0;
}
.dropdown-item.mobile .dd-link-name {
    width: 200px;
    height: 40px;
    color: #6d4af9;
    background-color: #f7f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.dropdown-item.mobile:hover .dd-link-name {
    background-color: #6d4af9;
    color: #f7f6fb;
}

/* --Menu Icon Styles-- */
.menu-icon {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.menu-icon .line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f7f6fb;
    margin-block: 8px;
    border-radius: 4px;
    transition: transform 0.5s, opacity 0.25s;
}
.menu-icon.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu-icon.active .line:nth-child(2) {
    opacity: 0;
}
.menu-icon.active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* const styledA = `ul li{
        height: 90vh;
        position:absolute;
        top: 80px;
        left:0;
        width:100%;
        opacity: 1;
        transition: all 0.5s ease;
        background: red;
        }`;
const styledB = `ul li{
    display: none;
    }`; */
