.card {
    max-width: 200px;
    width: fit-content;
    background-color: #6d4af9;
    padding: 3px 3px 3px 3px;

    &__title {
        text-align: center;
        padding-bottom: 15px;
        color: white;
        font-size: 12px;
    }
}
.reverse {
    display: flex;
    flex-direction: column-reverse;
}
